#show-values {
    display:none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
}

form{
    margin-left:auto;margin-right: auto; 
    width: 500px;
    text-align: center;
    margin-top: 30px;
    border: 1px solid;
    border-color: rgb(235, 94, 179);
    border-radius: 15px;
    padding-top: 15px;
}

main {
    height: 600px;
}
body > main > article {
    text-align: center;
} 

footer {
    color: rgb(253, 253, 253);
    background-color: rgb(235, 94, 179);
    height: 350px;
    text-align: center;
}

footer > span {
    position: relative;
    top: 30px;
    font-weight: 700;
}

.success-record{
    border-color: rgb(235, 94, 179);
    border-radius: 15px;
    background-color: rgba(98, 206, 98, 0.694);
    color: rgb(0, 119, 54);
    padding: 5px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}